@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,200;1,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #f5dede;
    background-image: linear-gradient(315deg,#ce9c5c 8%,#789999 100%);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-contenedor{
    background-color: rgb(221, 236, 235);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.5);
    width: 500px;
    overflow: hidden;
    min-width: 300px;
}

.quiz-cabecera{
    padding: 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #559fdb;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover{
    background-color: #174d94;
}

button:focus{
    outline: none;
    background-color: #e99b36;
}

img{
    display:block;
    margin:auto;
    width: 100px;
    height: 100px;
}

.progress {
    display:block;
    margin:auto;
    position: relative;
    width: 210px;
    height: 30px;
    background: #dfa63d;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .relleno {
    width: 0%;
    height: 100%;
    background: #559fdb;
    transition: all 0.2s;
  }
  
  .texto {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #ffffff;
  }
  